<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiMcuSmc3DeptMapper">
    
    <resultMap type="BusiMcuSmc3Dept" id="BusiMcuSmc3DeptResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="mcuType"    column="mcu_type"    />
        <result property="mcuId"    column="mcu_id"    />
    </resultMap>

    <sql id="selectBusiMcuSmc3DeptVo">
        select id, create_time, update_time, dept_id, mcu_type, mcu_id from busi_mcu_smc3_dept
    </sql>

    <select id="selectBusiMcuSmc3DeptList" parameterType="BusiMcuSmc3Dept" resultMap="BusiMcuSmc3DeptResult">
        <include refid="selectBusiMcuSmc3DeptVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="mcuType != null "> and mcu_type = #{mcuType}</if>
            <if test="mcuId != null "> and mcu_id = #{mcuId}</if>
        </where>
    </select>
    
    <select id="selectBusiMcuSmc3DeptById" parameterType="Long" resultMap="BusiMcuSmc3DeptResult">
        <include refid="selectBusiMcuSmc3DeptVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiMcuSmc3Dept" parameterType="BusiMcuSmc3Dept" useGeneratedKeys="true" keyProperty="id">
        insert into busi_mcu_smc3_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="mcuType != null">mcu_type,</if>
            <if test="mcuId != null">mcu_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="mcuType != null">#{mcuType},</if>
            <if test="mcuId != null">#{mcuId},</if>
         </trim>
    </insert>

    <update id="updateBusiMcuSmc3Dept" parameterType="BusiMcuSmc3Dept">
        update busi_mcu_smc3_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="mcuType != null">mcu_type = #{mcuType},</if>
            <if test="mcuId != null">mcu_id = #{mcuId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiMcuSmc3DeptById" parameterType="Long">
        delete from busi_mcu_smc3_dept where id = #{id}
    </delete>

    <delete id="deleteBusiMcuSmc3DeptByIds" parameterType="String">
        delete from busi_mcu_smc3_dept where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>