<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiSmartRoomDeptMapper">

    <resultMap type="BusiSmartRoomDept" id="BusiSmartRoomDeptResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="roomId"    column="room_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectBusiSmartRoomDeptVo">
        select id, dept_id, room_id, create_time, create_by from busi_smart_room_dept
    </sql>

    <select id="selectBusiSmartRoomDeptList" parameterType="BusiSmartRoomDept" resultMap="BusiSmartRoomDeptResult">
        <include refid="selectBusiSmartRoomDeptVo"/>
        <where>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
        </where>
    </select>

    <select id="selectBusiSmartRoomDeptById" parameterType="Long" resultMap="BusiSmartRoomDeptResult">
        <include refid="selectBusiSmartRoomDeptVo"/>
        where id = #{id}
    </select>

    <insert id="insertBusiSmartRoomDept" parameterType="BusiSmartRoomDept" useGeneratedKeys="true" keyProperty="id">
        insert into busi_smart_room_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="roomId != null">room_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateBusiSmartRoomDept" parameterType="BusiSmartRoomDept">
        update busi_smart_room_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiSmartRoomDeptById" parameterType="Long">
        delete from busi_smart_room_dept where id = #{id}
    </delete>

    <delete id="deleteBusiSmartRoomDeptByIds" parameterType="String">
        delete from busi_smart_room_dept where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>