<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 2.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiMcuHwcloudTemplatePollingPaticipantMapper">
    
    <resultMap type="BusiMcuHwcloudTemplatePollingPaticipant" id="BusiMcuHwcloudTemplatePollingPaticipantResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="templateConferenceId"    column="template_conference_id"    />
        <result property="pollingSchemeId"    column="polling_scheme_id"    />
        <result property="pollingInterval"    column="polling_interval"    />
        <result property="attendeeId"    column="attendee_id"    />
        <result property="weight"    column="weight"    />
    </resultMap>

    <sql id="selectBusiMcuHwcloudTemplatePollingPaticipantVo">
        select id, create_time, update_time, template_conference_id, polling_scheme_id, polling_interval, attendee_id, weight from busi_mcu_hwcloud_template_polling_paticipant
    </sql>

    <select id="selectBusiMcuHwcloudTemplatePollingPaticipantList" parameterType="BusiMcuHwcloudTemplatePollingPaticipant" resultMap="BusiMcuHwcloudTemplatePollingPaticipantResult">
        <include refid="selectBusiMcuHwcloudTemplatePollingPaticipantVo"/>
        <where>  
            <if test="templateConferenceId != null "> and template_conference_id = #{templateConferenceId}</if>
            <if test="pollingSchemeId != null "> and polling_scheme_id = #{pollingSchemeId}</if>
            <if test="pollingInterval != null "> and polling_interval = #{pollingInterval}</if>
            <if test="attendeeId != null  and attendeeId != ''"> and attendee_id = #{attendeeId}</if>
            <if test="weight != null "> and weight = #{weight}</if>
        </where>
    </select>
    
    <select id="selectBusiMcuHwcloudTemplatePollingPaticipantById" parameterType="Long" resultMap="BusiMcuHwcloudTemplatePollingPaticipantResult">
        <include refid="selectBusiMcuHwcloudTemplatePollingPaticipantVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiMcuHwcloudTemplatePollingPaticipant" parameterType="BusiMcuHwcloudTemplatePollingPaticipant" useGeneratedKeys="true" keyProperty="id">
        insert into busi_mcu_hwcloud_template_polling_paticipant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="templateConferenceId != null">template_conference_id,</if>
            <if test="pollingSchemeId != null">polling_scheme_id,</if>
            <if test="pollingInterval != null">polling_interval,</if>
            <if test="attendeeId != null">attendee_id,</if>
            <if test="weight != null">weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="templateConferenceId != null">#{templateConferenceId},</if>
            <if test="pollingSchemeId != null">#{pollingSchemeId},</if>
            <if test="pollingInterval != null">#{pollingInterval},</if>
            <if test="attendeeId != null">#{attendeeId},</if>
            <if test="weight != null">#{weight},</if>
         </trim>
    </insert>

    <update id="updateBusiMcuHwcloudTemplatePollingPaticipant" parameterType="BusiMcuHwcloudTemplatePollingPaticipant">
        update busi_mcu_hwcloud_template_polling_paticipant
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="templateConferenceId != null">template_conference_id = #{templateConferenceId},</if>
            <if test="pollingSchemeId != null">polling_scheme_id = #{pollingSchemeId},</if>
            <if test="pollingInterval != null">polling_interval = #{pollingInterval},</if>
            <if test="attendeeId != null">attendee_id = #{attendeeId},</if>
            <if test="weight != null">weight = #{weight},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiMcuHwcloudTemplatePollingPaticipantById" parameterType="Long">
        delete from busi_mcu_hwcloud_template_polling_paticipant where id = #{id}
    </delete>

    <delete id="deleteBusiMcuHwcloudTemplatePollingPaticipantByIds" parameterType="String">
        delete from busi_mcu_hwcloud_template_polling_paticipant where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteBusiMcuHwcloudTemplatePollingPaticipantByAttendeeIds"  parameterType="String">
        delete from busi_mcu_hwcloud_template_polling_paticipant where attendee_id in
        <foreach item="attendeeId" collection="array" open="(" separator="," close=")">
            #{attendeeId}
        </foreach>
    </delete>

    <delete id="deletePollingPaticipantByPollingSchemeId" parameterType="Long">
        delete from busi_mcu_hwcloud_template_polling_paticipant where polling_scheme_id = #{id}
    </delete>
</mapper>