<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiConferenceVoteRecordMapper">

    <resultMap type="BusiConferenceVoteRecord" id="BusiConferenceVoteRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="voteId"    column="vote_id"    />
        <result property="questionId"    column="question_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="optionIds"    column="option_ids"    />
        <result property="voteTime"    column="vote_time"    />
    </resultMap>

    <sql id="selectBusiConferenceVoteRecordVo">
        select record_id, vote_id, question_id, user_id, user_name, option_ids, vote_time from busi_conference_vote_record
    </sql>

    <select id="selectBusiConferenceVoteRecordList" parameterType="BusiConferenceVoteRecord" resultMap="BusiConferenceVoteRecordResult">
        <include refid="selectBusiConferenceVoteRecordVo"/>
        <where>
            <if test="voteId != null "> and vote_id = #{voteId}</if>
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="optionIds != null  and optionIds != ''"> and option_ids = #{optionIds}</if>
            <if test="voteTime != null "> and vote_time = #{voteTime}</if>
        </where>
    </select>

    <select id="selectBusiConferenceVoteRecordById" parameterType="Long" resultMap="BusiConferenceVoteRecordResult">
        <include refid="selectBusiConferenceVoteRecordVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertBusiConferenceVoteRecord" parameterType="BusiConferenceVoteRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into busi_conference_vote_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="voteId != null">vote_id,</if>
            <if test="questionId != null">question_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="optionIds != null">option_ids,</if>
            <if test="voteTime != null">vote_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="voteId != null">#{voteId},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="optionIds != null">#{optionIds},</if>
            <if test="voteTime != null">#{voteTime},</if>
        </trim>
    </insert>

    <update id="updateBusiConferenceVoteRecord" parameterType="BusiConferenceVoteRecord">
        update busi_conference_vote_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="voteId != null">vote_id = #{voteId},</if>
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="optionIds != null">option_ids = #{optionIds},</if>
            <if test="voteTime != null">vote_time = #{voteTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteBusiConferenceVoteRecordById" parameterType="Long">
        delete from busi_conference_vote_record where record_id = #{recordId}
    </delete>

    <delete id="deleteBusiConferenceVoteRecordByIds" parameterType="String">
        delete from busi_conference_vote_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>