<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiConferenceVoteOptionMapper">

    <resultMap type="BusiConferenceVoteOption" id="BusiConferenceVoteOptionResult">
        <result property="optionId"    column="option_id"    />
        <result property="questionId"    column="question_id"    />
        <result property="content"    column="content"    />
        <result property="voteCount"    column="vote_count"    />
    </resultMap>

    <sql id="selectBusiConferenceVoteOptionVo">
        select option_id, question_id, content, vote_count from busi_conference_vote_option
    </sql>

    <select id="selectBusiConferenceVoteOptionList" parameterType="BusiConferenceVoteOption" resultMap="BusiConferenceVoteOptionResult">
        <include refid="selectBusiConferenceVoteOptionVo"/>
        <where>
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="voteCount != null "> and vote_count = #{voteCount}</if>
        </where>
    </select>

    <select id="selectBusiConferenceVoteOptionById" parameterType="Long" resultMap="BusiConferenceVoteOptionResult">
        <include refid="selectBusiConferenceVoteOptionVo"/>
        where option_id = #{optionId}
    </select>

    <insert id="insertBusiConferenceVoteOption" parameterType="BusiConferenceVoteOption" useGeneratedKeys="true" keyProperty="optionId">
        insert into busi_conference_vote_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">question_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="voteCount != null">vote_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">#{questionId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="voteCount != null">#{voteCount},</if>
        </trim>
    </insert>

    <update id="updateBusiConferenceVoteOption" parameterType="BusiConferenceVoteOption">
        update busi_conference_vote_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="voteCount != null">vote_count = #{voteCount},</if>
        </trim>
        where option_id = #{optionId}
    </update>

    <delete id="deleteBusiConferenceVoteOptionById" parameterType="Long">
        delete from busi_conference_vote_option where option_id = #{optionId}
    </delete>

    <delete id="deleteBusiConferenceVoteOptionByIds" parameterType="String">
        delete from busi_conference_vote_option where option_id in
        <foreach item="optionId" collection="array" open="(" separator="," close=")">
            #{optionId}
        </foreach>
    </delete>
</mapper>