<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiPickerMapper">
    
    <resultMap type="BusiPicker" id="BusiPickerResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptType"    column="dept_type"    />
    </resultMap>

    <sql id="selectBusiPickerVo">
        select id, dept_id, user_id,dept_type from busi_picker
    </sql>

    <select id="selectBusiPickerList" parameterType="BusiPicker" resultMap="BusiPickerResult">
        <include refid="selectBusiPickerVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectBusiPickerById" parameterType="Integer" resultMap="BusiPickerResult">
        <include refid="selectBusiPickerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiPicker" parameterType="BusiPicker" useGeneratedKeys="true" keyProperty="id">
        insert into busi_picker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptType != null">dept_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptType != null">#{deptType},</if>
         </trim>
    </insert>

    <update id="updateBusiPicker" parameterType="BusiPicker">
        update busi_picker
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptType != null">user_id = #{deptType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiPickerById" parameterType="Integer">
        delete from busi_picker where id = #{id}
    </delete>

    <delete id="deleteBusiPickerByIds" parameterType="String">
        delete from busi_picker where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>