<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiFreeSwitchClusterMapper">
    
    <resultMap type="BusiFreeSwitchCluster" id="BusiFreeSwitchClusterResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectBusiFreeSwitchClusterVo">
        select id, create_time, update_time, name, description from busi_free_switch_cluster
    </sql>

    <select id="selectBusiFreeSwitchClusterList" parameterType="BusiFreeSwitchCluster" resultMap="BusiFreeSwitchClusterResult">
        <include refid="selectBusiFreeSwitchClusterVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectBusiFreeSwitchClusterById" parameterType="Long" resultMap="BusiFreeSwitchClusterResult">
        <include refid="selectBusiFreeSwitchClusterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiFreeSwitchCluster" parameterType="BusiFreeSwitchCluster" useGeneratedKeys="true" keyProperty="id">
        insert into busi_free_switch_cluster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateBusiFreeSwitchCluster" parameterType="BusiFreeSwitchCluster">
        update busi_free_switch_cluster
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiFreeSwitchClusterById" parameterType="Long">
        delete from busi_free_switch_cluster where id = #{id}
    </delete>

    <delete id="deleteBusiFreeSwitchClusterByIds" parameterType="String">
        delete from busi_free_switch_cluster where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>