<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiLiveDeptMapper">
    
    <resultMap type="BusiLiveDept" id="BusiLiveDeptResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="liveType"    column="live_type"    />
        <result property="liveId"    column="live_id"    />
    </resultMap>

    <sql id="selectBusiLiveDeptVo">
        select id, create_time, update_time, dept_id, live_type, live_id from busi_live_dept
    </sql>

    <select id="selectBusiLiveDeptList" parameterType="BusiLiveDept" resultMap="BusiLiveDeptResult">
        <include refid="selectBusiLiveDeptVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="liveType != null "> and live_type = #{liveType}</if>
            <if test="liveId != null "> and live_id = #{liveId}</if>
        </where>
    </select>
    
    <select id="selectBusiLiveDeptById" parameterType="Long" resultMap="BusiLiveDeptResult">
        <include refid="selectBusiLiveDeptVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiLiveDept" parameterType="BusiLiveDept" useGeneratedKeys="true" keyProperty="id">
        insert into busi_live_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="liveType != null">live_type,</if>
            <if test="liveId != null">live_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="liveType != null">#{liveType},</if>
            <if test="liveId != null">#{liveId},</if>
         </trim>
    </insert>

    <update id="updateBusiLiveDept" parameterType="BusiLiveDept">
        update busi_live_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="liveType != null">live_type = #{liveType},</if>
            <if test="liveId != null">live_id = #{liveId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiLiveDeptById" parameterType="Long">
        delete from busi_live_dept where id = #{id}
    </delete>

    <delete id="deleteBusiLiveDeptByIds" parameterType="String">
        delete from busi_live_dept where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>