<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiOpsMapper">
    
    <resultMap type="BusiOps" id="BusiOpsResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="name"    column="name"    />
        <result property="ip"    column="ip"    />
        <result property="mqttOnlineStatus"    column="mqtt_online_status"    />
        <result property="appVersionCode"    column="app_version_code"    />
        <result property="appVersionName"    column="app_version_name"    />
        <result property="connectIp"    column="connect_ip"    />
        <result property="expiredDate"    column="expired_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="userId"    column="user_id"    />
        <result property="sourceId"    column="source_id"    />
        <result property="lastOnlineTime"    column="last_online_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusiOpsVo">
        select id, sn, name, ip, mqtt_online_status, app_version_code, app_version_name, connect_ip, expired_date, create_time, create_user_id, update_time, update_user_id, user_id, source_id, last_online_time, remark from busi_ops
    </sql>

    <select id="selectBusiOpsList" parameterType="BusiOps" resultMap="BusiOpsResult">
        <include refid="selectBusiOpsVo"/>
        <where>  
            <if test="sn != null  and sn != ''"> and sn = #{sn}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="searchValue != null  and searchValue != ''"> and (name like concat('%', #{searchValue}, '%') or sn like concat('%', #{searchValue}, '%'))</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="mqttOnlineStatus != null "> and mqtt_online_status = #{mqttOnlineStatus}</if>
            <if test="appVersionCode != null and appVersionCode != ''"> and app_version_code = #{appVersionCode}</if>
            <if test="appVersionName != null and appVersionName != ''"> and app_version_name = #{appVersionName}</if>
            <if test="connectIp != null  and connectIp != ''"> and connect_ip = #{connectIp}</if>
            <if test="expiredDate != null "> and expired_date = #{expiredDate}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="sourceId != null "> and source_id = #{sourceId}</if>
            <if test="lastOnlineTime != null "> and last_online_time = #{lastOnlineTime}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
        order by mqtt_online_status, id
    </select>
    
    <select id="selectBusiOpsById" parameterType="Long" resultMap="BusiOpsResult">
        <include refid="selectBusiOpsVo"/>
        where id = #{id}
    </select>

    <select id="selectBusiOpsBySn" parameterType="String" resultMap="BusiOpsResult">
        <include refid="selectBusiOpsVo"/>
        where sn = #{sn}
        limit 1
    </select>
        
    <insert id="insertBusiOps" parameterType="BusiOps" useGeneratedKeys="true" keyProperty="id">
        insert into busi_ops
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sn != null and sn != ''">sn,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="ip != null">ip,</if>
            <if test="mqttOnlineStatus != null">mqtt_online_status,</if>
            <if test="appVersionCode != null">app_version_code,</if>
            <if test="appVersionName != null">app_version_name,</if>
            <if test="connectIp != null">connect_ip,</if>
            <if test="expiredDate != null">expired_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="sourceId != null">source_id,</if>
            <if test="lastOnlineTime != null">last_online_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sn != null and sn != ''">#{sn},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="ip != null">#{ip},</if>
            <if test="mqttOnlineStatus != null">#{mqttOnlineStatus},</if>
            <if test="appVersionCode != null">#{appVersionCode},</if>
            <if test="appVersionName != null">#{appVersionName},</if>
            <if test="connectIp != null">#{connectIp},</if>
            <if test="expiredDate != null">#{expiredDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="sourceId != null">#{sourceId},</if>
            <if test="lastOnlineTime != null">#{lastOnlineTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusiOps" parameterType="BusiOps">
        update busi_ops
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null and sn != ''">sn = #{sn},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="mqttOnlineStatus != null">mqtt_online_status = #{mqttOnlineStatus},</if>
            <if test="appVersionCode != null">app_version_code = #{appVersionCode},</if>
            <if test="appVersionName != null">app_version_name = #{appVersionName},</if>
            <if test="connectIp != null">connect_ip = #{connectIp},</if>
            <if test="expiredDate != null">expired_date = #{expiredDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="sourceId != null">source_id = #{sourceId},</if>
            <if test="lastOnlineTime != null">last_online_time = #{lastOnlineTime},</if>
            remark = #{remark},
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiOpsById" parameterType="Long">
        delete from busi_ops where id = #{id}
    </delete>

    <delete id="deleteBusiOpsByIds" parameterType="String">
        delete from busi_ops where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>