<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiTencentTemplateConferenceMapper">
    
    <resultMap type="BusiTencentTemplateConference" id="BusiTencentTemplateConferenceResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="subject"    column="subject"    />
        <result property="deptId"    column="dept_id"    />
        <result property="callLegProfileId"    column="call_leg_profile_id"    />
        <result property="callProfileId"    column="call_profile_id"    />
        <result property="callBrandingProfileId"    column="call_branding_profile_id"    />
        <result property="streamUrl"    column="stream_url"    />
        <result property="recordingEnabled"    column="recording_enabled"    />
        <result property="streamingEnabled"    column="streaming_enabled"    />
        <result property="bandwidth"    column="bandwidth"    />
        <result property="isAutoCall"    column="is_auto_call"    />
        <result property="isAutoMonitor"    column="is_auto_monitor"    />
        <result property="isAutoCreateConferenceNumber"    column="is_auto_create_conference_number"    />
        <result property="createType"    column="create_type"    />
        <result property="cascad"    column="cascad"    />
        <result property="viewType"    column="view_type"    />
        <result property="conferenceNumber"    column="conference_number"    />
        <result property="masterParticipantId"    column="master_participant_id"    />
        <result property="defaultViewLayout"    column="default_view_layout"    />
        <result property="defaultViewIsBroadcast"    column="default_view_is_broadcast"    />
        <result property="defaultViewIsDisplaySelf"    column="default_view_is_display_self"    />
        <result property="defaultViewIsFill"    column="default_view_is_fill"    />
        <result property="pollingInterval"    column="polling_interval"    />
        <result property="conferencePassword"    column="conference_password"    />
        <result property="remarks"    column="remarks"    />
        <result property="cover"    column="cover"    />
        <result property="businessFieldType"    column="business_field_type"    />
        <result property="businessProperties"    column="business_properties"    />
        <result property="durationEnabled"    column="duration_enabled"    />
        <result property="durationTime"    column="duration_time"    />
        <result property="lastConferenceId"    column="last_conference_id"    />
        <result property="resourceTemplateId"    column="resource_template_id"    />
        <result property="tencentUserid"    column="tencent_userid"    />
        <result property="type"    column="type"    />
        <result property="instanceid"    column="instanceid"    />
        <result property="settings"    column="settings"    />
        <result property="liveConfig"    column="live_config"    />
        <result property="meetingId"    column="meeting_id"    />
        <result property="meetingType"    column="meeting_type"    />
        <result property="webinarType"    column="webinar_type"    />
        <result property="admissionType"    column="admission_type"    />
        <result property="layoutJson"    column="layout_json"    />
        <result property="backgrounds"    column="backgrounds"    />
    </resultMap>

    <sql id="selectBusiTencentTemplateConferenceVo">
        select id, create_time, update_time, create_user_id, create_user_name, subject, dept_id, call_leg_profile_id, call_profile_id, call_branding_profile_id, stream_url, recording_enabled, streaming_enabled, bandwidth, is_auto_call, is_auto_monitor, is_auto_create_conference_number, create_type, cascad, view_type, conference_number, master_participant_id, default_view_layout, default_view_is_broadcast, default_view_is_display_self, default_view_is_fill, polling_interval, conference_password, remarks, cover, business_field_type, business_properties, duration_enabled, duration_time, last_conference_id, resource_template_id, tencent_userid, type, instanceid, settings, live_config, meeting_id, meeting_type, webinar_type, admission_type, layout_json, backgrounds from busi_tencent_template_conference
    </sql>

    <select id="selectBusiTencentTemplateConferenceList" parameterType="BusiTencentTemplateConference" resultMap="BusiTencentTemplateConferenceResult">
        select id, create_time, update_time, create_user_id, create_user_name, subject,subject as templateName, dept_id, call_leg_profile_id, call_profile_id, call_branding_profile_id, stream_url, recording_enabled, streaming_enabled, bandwidth, is_auto_call, is_auto_monitor, is_auto_create_conference_number, create_type, cascad, view_type, conference_number, master_participant_id, default_view_layout, default_view_is_broadcast, default_view_is_display_self, default_view_is_fill, polling_interval, conference_password, remarks, cover, business_field_type, business_properties, duration_enabled, duration_time,duration_time as duration, last_conference_id, resource_template_id, tencent_userid, type, instanceid, settings, live_config, meeting_id, meeting_type, webinar_type, admission_type, layout_json, backgrounds from busi_tencent_template_conference
        <where>  
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="callLegProfileId != null  and callLegProfileId != ''"> and call_leg_profile_id = #{callLegProfileId}</if>
            <if test="callProfileId != null  and callProfileId != ''"> and call_profile_id = #{callProfileId}</if>
            <if test="callBrandingProfileId != null  and callBrandingProfileId != ''"> and call_branding_profile_id = #{callBrandingProfileId}</if>
            <if test="streamUrl != null  and streamUrl != ''"> and stream_url = #{streamUrl}</if>
            <if test="recordingEnabled != null "> and recording_enabled = #{recordingEnabled}</if>
            <if test="streamingEnabled != null "> and streaming_enabled = #{streamingEnabled}</if>
            <if test="bandwidth != null "> and bandwidth = #{bandwidth}</if>
            <if test="isAutoCall != null "> and is_auto_call = #{isAutoCall}</if>
            <if test="isAutoMonitor != null "> and is_auto_monitor = #{isAutoMonitor}</if>
            <if test="isAutoCreateConferenceNumber != null "> and is_auto_create_conference_number = #{isAutoCreateConferenceNumber}</if>
            <if test="createType != null "> and create_type = #{createType}</if>
            <if test="cascad != null "> and cascad = #{cascad}</if>
            <if test="viewType != null "> and view_type = #{viewType}</if>
            <if test="conferenceNumber != null "> and conference_number = #{conferenceNumber}</if>
            <if test="masterParticipantId != null "> and master_participant_id = #{masterParticipantId}</if>
            <if test="defaultViewLayout != null  and defaultViewLayout != ''"> and default_view_layout = #{defaultViewLayout}</if>
            <if test="defaultViewIsBroadcast != null "> and default_view_is_broadcast = #{defaultViewIsBroadcast}</if>
            <if test="defaultViewIsDisplaySelf != null "> and default_view_is_display_self = #{defaultViewIsDisplaySelf}</if>
            <if test="defaultViewIsFill != null "> and default_view_is_fill = #{defaultViewIsFill}</if>
            <if test="pollingInterval != null "> and polling_interval = #{pollingInterval}</if>
            <if test="conferencePassword != null  and conferencePassword != ''"> and conference_password = #{conferencePassword}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="cover != null  and cover != ''"> and cover = #{cover}</if>
            <if test="businessFieldType != null "> and business_field_type = #{businessFieldType}</if>
            <if test="businessProperties != null  and businessProperties != ''"> and business_properties = #{businessProperties}</if>
            <if test="durationEnabled != null "> and duration_enabled = #{durationEnabled}</if>
            <if test="durationTime != null "> and duration_time = #{durationTime}</if>
            <if test="lastConferenceId != null "> and last_conference_id = #{lastConferenceId}</if>
            <if test="resourceTemplateId != null "> and resource_template_id = #{resourceTemplateId}</if>
            <if test="tencentUserid != null  and tencentUserid != ''"> and tencent_userid = #{tencentUserid}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="instanceid != null "> and instanceid = #{instanceid}</if>
            <if test="settings != null  and settings != ''"> and settings = #{settings}</if>
            <if test="liveConfig != null  and liveConfig != ''"> and live_config = #{liveConfig}</if>
            <if test="meetingId != null  and meetingId != ''"> and meeting_id = #{meetingId}</if>
            <if test="meetingType != null "> and meeting_type = #{meetingType}</if>
            <if test="webinarType != null "> and webinar_type = #{webinarType}</if>
            <if test="admissionType != null "> and admission_type = #{admissionType}</if>
            <if test="layoutJson != null  and layoutJson != ''"> and layout_json = #{layoutJson}</if>
            <if test="backgrounds != null  and backgrounds != ''"> and backgrounds = #{backgrounds}</if>
        </where>
    </select>
    
    <select id="selectBusiTencentTemplateConferenceById" parameterType="Long" resultMap="BusiTencentTemplateConferenceResult">
        <include refid="selectBusiTencentTemplateConferenceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiTencentTemplateConference" parameterType="BusiTencentTemplateConference" useGeneratedKeys="true" keyProperty="id">
        insert into busi_tencent_template_conference
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="subject != null">subject,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="callLegProfileId != null">call_leg_profile_id,</if>
            <if test="callProfileId != null">call_profile_id,</if>
            <if test="callBrandingProfileId != null">call_branding_profile_id,</if>
            <if test="streamUrl != null">stream_url,</if>
            <if test="recordingEnabled != null">recording_enabled,</if>
            <if test="streamingEnabled != null">streaming_enabled,</if>
            <if test="bandwidth != null">bandwidth,</if>
            <if test="isAutoCall != null">is_auto_call,</if>
            <if test="isAutoMonitor != null">is_auto_monitor,</if>
            <if test="isAutoCreateConferenceNumber != null">is_auto_create_conference_number,</if>
            <if test="createType != null">create_type,</if>
            <if test="cascad != null">cascad,</if>
            <if test="viewType != null">view_type,</if>
            <if test="conferenceNumber != null">conference_number,</if>
            <if test="masterParticipantId != null">master_participant_id,</if>
            <if test="defaultViewLayout != null">default_view_layout,</if>
            <if test="defaultViewIsBroadcast != null">default_view_is_broadcast,</if>
            <if test="defaultViewIsDisplaySelf != null">default_view_is_display_self,</if>
            <if test="defaultViewIsFill != null">default_view_is_fill,</if>
            <if test="pollingInterval != null">polling_interval,</if>
            <if test="conferencePassword != null">conference_password,</if>
            <if test="remarks != null">remarks,</if>
            <if test="cover != null">cover,</if>
            <if test="businessFieldType != null">business_field_type,</if>
            <if test="businessProperties != null">business_properties,</if>
            <if test="durationEnabled != null">duration_enabled,</if>
            <if test="durationTime != null">duration_time,</if>
            <if test="lastConferenceId != null">last_conference_id,</if>
            <if test="resourceTemplateId != null">resource_template_id,</if>
            <if test="tencentUserid != null">tencent_userid,</if>
            <if test="type != null">type,</if>
            <if test="instanceid != null">instanceid,</if>
            <if test="settings != null">settings,</if>
            <if test="liveConfig != null">live_config,</if>
            <if test="meetingId != null">meeting_id,</if>
            <if test="meetingType != null">meeting_type,</if>
            <if test="webinarType != null">webinar_type,</if>
            <if test="admissionType != null">admission_type,</if>
            <if test="layoutJson != null">layout_json,</if>
            <if test="backgrounds != null">backgrounds,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="subject != null">#{subject},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="callLegProfileId != null">#{callLegProfileId},</if>
            <if test="callProfileId != null">#{callProfileId},</if>
            <if test="callBrandingProfileId != null">#{callBrandingProfileId},</if>
            <if test="streamUrl != null">#{streamUrl},</if>
            <if test="recordingEnabled != null">#{recordingEnabled},</if>
            <if test="streamingEnabled != null">#{streamingEnabled},</if>
            <if test="bandwidth != null">#{bandwidth},</if>
            <if test="isAutoCall != null">#{isAutoCall},</if>
            <if test="isAutoMonitor != null">#{isAutoMonitor},</if>
            <if test="isAutoCreateConferenceNumber != null">#{isAutoCreateConferenceNumber},</if>
            <if test="createType != null">#{createType},</if>
            <if test="cascad != null">#{cascad},</if>
            <if test="viewType != null">#{viewType},</if>
            <if test="conferenceNumber != null">#{conferenceNumber},</if>
            <if test="masterParticipantId != null">#{masterParticipantId},</if>
            <if test="defaultViewLayout != null">#{defaultViewLayout},</if>
            <if test="defaultViewIsBroadcast != null">#{defaultViewIsBroadcast},</if>
            <if test="defaultViewIsDisplaySelf != null">#{defaultViewIsDisplaySelf},</if>
            <if test="defaultViewIsFill != null">#{defaultViewIsFill},</if>
            <if test="pollingInterval != null">#{pollingInterval},</if>
            <if test="conferencePassword != null">#{conferencePassword},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="cover != null">#{cover},</if>
            <if test="businessFieldType != null">#{businessFieldType},</if>
            <if test="businessProperties != null">#{businessProperties},</if>
            <if test="durationEnabled != null">#{durationEnabled},</if>
            <if test="durationTime != null">#{durationTime},</if>
            <if test="lastConferenceId != null">#{lastConferenceId},</if>
            <if test="resourceTemplateId != null">#{resourceTemplateId},</if>
            <if test="tencentUserid != null">#{tencentUserid},</if>
            <if test="type != null">#{type},</if>
            <if test="instanceid != null">#{instanceid},</if>
            <if test="settings != null">#{settings},</if>
            <if test="liveConfig != null">#{liveConfig},</if>
            <if test="meetingId != null">#{meetingId},</if>
            <if test="meetingType != null">#{meetingType},</if>
            <if test="webinarType != null">#{webinarType},</if>
            <if test="admissionType != null">#{admissionType},</if>
            <if test="layoutJson != null">#{layoutJson},</if>
            <if test="backgrounds != null">#{backgrounds},</if>
         </trim>
    </insert>

    <update id="updateBusiTencentTemplateConference" parameterType="BusiTencentTemplateConference">
        update busi_tencent_template_conference
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="callLegProfileId != null">call_leg_profile_id = #{callLegProfileId},</if>
            <if test="callProfileId != null">call_profile_id = #{callProfileId},</if>
            <if test="callBrandingProfileId != null">call_branding_profile_id = #{callBrandingProfileId},</if>
            <if test="streamUrl != null">stream_url = #{streamUrl},</if>
            <if test="recordingEnabled != null">recording_enabled = #{recordingEnabled},</if>
            <if test="streamingEnabled != null">streaming_enabled = #{streamingEnabled},</if>
            <if test="bandwidth != null">bandwidth = #{bandwidth},</if>
            <if test="isAutoCall != null">is_auto_call = #{isAutoCall},</if>
            <if test="isAutoMonitor != null">is_auto_monitor = #{isAutoMonitor},</if>
            <if test="isAutoCreateConferenceNumber != null">is_auto_create_conference_number = #{isAutoCreateConferenceNumber},</if>
            <if test="createType != null">create_type = #{createType},</if>
            <if test="cascad != null">cascad = #{cascad},</if>
            <if test="viewType != null">view_type = #{viewType},</if>
            <if test="conferenceNumber != null">conference_number = #{conferenceNumber},</if>
            <if test="masterParticipantId != null">master_participant_id = #{masterParticipantId},</if>
            <if test="defaultViewLayout != null">default_view_layout = #{defaultViewLayout},</if>
            <if test="defaultViewIsBroadcast != null">default_view_is_broadcast = #{defaultViewIsBroadcast},</if>
            <if test="defaultViewIsDisplaySelf != null">default_view_is_display_self = #{defaultViewIsDisplaySelf},</if>
            <if test="defaultViewIsFill != null">default_view_is_fill = #{defaultViewIsFill},</if>
            <if test="pollingInterval != null">polling_interval = #{pollingInterval},</if>
            <if test="conferencePassword != null">conference_password = #{conferencePassword},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="businessFieldType != null">business_field_type = #{businessFieldType},</if>
            <if test="businessProperties != null">business_properties = #{businessProperties},</if>
            <if test="durationEnabled != null">duration_enabled = #{durationEnabled},</if>
            <if test="durationTime != null">duration_time = #{durationTime},</if>
            <if test="lastConferenceId != null">last_conference_id = #{lastConferenceId},</if>
            <if test="resourceTemplateId != null">resource_template_id = #{resourceTemplateId},</if>
            <if test="tencentUserid != null">tencent_userid = #{tencentUserid},</if>
            <if test="type != null">type = #{type},</if>
            <if test="instanceid != null">instanceid = #{instanceid},</if>
            <if test="settings != null">settings = #{settings},</if>
            <if test="liveConfig != null">live_config = #{liveConfig},</if>
            <if test="meetingId != null">meeting_id = #{meetingId},</if>
            <if test="meetingType != null">meeting_type = #{meetingType},</if>
            <if test="webinarType != null">webinar_type = #{webinarType},</if>
            <if test="admissionType != null">admission_type = #{admissionType},</if>
            <if test="layoutJson != null">layout_json = #{layoutJson},</if>
            <if test="backgrounds != null">backgrounds = #{backgrounds},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiTencentTemplateConferenceById" parameterType="Long">
        delete from busi_tencent_template_conference where id = #{id}
    </delete>

    <delete id="deleteBusiTencentTemplateConferenceByIds" parameterType="String">
        delete from busi_tencent_template_conference where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryTemplateListByDeptId" resultMap="BusiTencentTemplateConferenceResult">
        select id, create_time, update_time, create_user_id, create_user_name, subject,subject as templateName, dept_id, call_leg_profile_id, call_profile_id, call_branding_profile_id, stream_url, recording_enabled, streaming_enabled, bandwidth, is_auto_call, is_auto_monitor, is_auto_create_conference_number, create_type, cascad, view_type, conference_number, master_participant_id, default_view_layout, default_view_is_broadcast, default_view_is_display_self, default_view_is_fill, polling_interval, conference_password, remarks, cover, business_field_type, business_properties, duration_enabled, duration_time,duration_time as duration, last_conference_id, resource_template_id, tencent_userid, type, instanceid, settings, live_config, meeting_id, meeting_type, webinar_type, admission_type, layout_json, backgrounds from busi_tencent_template_conference

        <where>
            id not in (select template_id from busi_tencent_conference_appointment  WHERE template_id IS NOT NULL)
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="name != null "> and subject LIKE CONCAT('%',#{name},'%') </if>
        </where>

    </select>
</mapper>