<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiConferenceVoteMapper">

    <resultMap type="BusiConferenceVote" id="BusiConferenceVoteResult">
        <result property="voteId"    column="vote_id"    />
        <result property="mcuType"    column="mcu_type"    />
        <result property="conferenceId"    column="conference_id"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="voteCreateTime"    column="vote_create_time"    />
        <result property="status"    column="status"    />
        <result property="isAnonymous"    column="is_anonymous"    />
        <result property="creatorId"    column="creator_id"    />
    </resultMap>

    <sql id="selectBusiConferenceVoteVo">
        select vote_id, mcu_type, conference_id, title, description, vote_create_time, status, is_anonymous, creator_id from busi_conference_vote
    </sql>

    <select id="selectBusiConferenceVoteList" parameterType="BusiConferenceVote" resultMap="BusiConferenceVoteResult">
        <include refid="selectBusiConferenceVoteVo"/>
        <where>
            <if test="mcuType != null  and mcuType != ''"> and mcu_type = #{mcuType}</if>
            <if test="conferenceId != null "> and conference_id = #{conferenceId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isAnonymous != null "> and is_anonymous = #{isAnonymous}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
        </where>
    </select>

    <select id="selectBusiConferenceVoteById" parameterType="Long" resultMap="BusiConferenceVoteResult">
        <include refid="selectBusiConferenceVoteVo"/>
        where vote_id = #{voteId}
    </select>

    <insert id="insertBusiConferenceVote" parameterType="BusiConferenceVote" useGeneratedKeys="true" keyProperty="voteId">
        insert into busi_conference_vote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mcuType != null">mcu_type,</if>
            <if test="conferenceId != null">conference_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="description != null">description,</if>
            <if test="voteCreateTime != null">vote_create_time,</if>
            <if test="status != null">status,</if>
            <if test="isAnonymous != null">is_anonymous,</if>
            <if test="creatorId != null">creator_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mcuType != null">#{mcuType},</if>
            <if test="conferenceId != null">#{conferenceId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="voteCreateTime != null">#{voteCreateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="isAnonymous != null">#{isAnonymous},</if>
            <if test="creatorId != null">#{creatorId},</if>
        </trim>
    </insert>

    <update id="updateBusiConferenceVote" parameterType="BusiConferenceVote">
        update busi_conference_vote
        <trim prefix="SET" suffixOverrides=",">
            <if test="mcuType != null">mcu_type = #{mcuType},</if>
            <if test="conferenceId != null">conference_id = #{conferenceId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="voteCreateTime != null">vote_create_time = #{voteCreateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isAnonymous != null">is_anonymous = #{isAnonymous},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
        </trim>
        where vote_id = #{voteId}
    </update>

    <delete id="deleteBusiConferenceVoteById" parameterType="Long">
        delete from busi_conference_vote where vote_id = #{voteId}
    </delete>

    <delete id="deleteBusiConferenceVoteByIds" parameterType="String">
        delete from busi_conference_vote where vote_id in
        <foreach item="voteId" collection="array" open="(" separator="," close=")">
            #{voteId}
        </foreach>
    </delete>
    <!-- 根据状态查询投票 -->
    <select id="selectPendingVote" parameterType="Long" resultMap="BusiConferenceVoteResult">
        SELECT
        *
        from busi_conference_vote
        WHERE status = 1
        and conference_id=#{conferenceId}
        ORDER BY vote_create_time DESC
    </select>
</mapper>