<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiMqttClusterMapper">
    
    <resultMap type="BusiMqttCluster" id="BusiMqttClusterResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="mqttClusterName"    column="mqtt_cluster_name"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectBusiMqttClusterVo">
        select id, create_time, update_time, mqtt_cluster_name, description from busi_mqtt_cluster
    </sql>

    <select id="selectBusiMqttClusterList" parameterType="BusiMqttCluster" resultMap="BusiMqttClusterResult">
        <include refid="selectBusiMqttClusterVo"/>
        <where>  
            <if test="mqttClusterName != null  and mqttClusterName != ''"> and mqtt_cluster_name like concat('%', #{mqttClusterName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectBusiMqttClusterById" parameterType="Long" resultMap="BusiMqttClusterResult">
        <include refid="selectBusiMqttClusterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiMqttCluster" parameterType="BusiMqttCluster" useGeneratedKeys="true" keyProperty="id">
        insert into busi_mqtt_cluster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="mqttClusterName != null">mqtt_cluster_name,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="mqttClusterName != null">#{mqttClusterName},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateBusiMqttCluster" parameterType="BusiMqttCluster">
        update busi_mqtt_cluster
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="mqttClusterName != null">mqtt_cluster_name = #{mqttClusterName},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiMqttClusterById" parameterType="Long">
        delete from busi_mqtt_cluster where id = #{id}
    </delete>

    <delete id="deleteBusiMqttClusterByIds" parameterType="String">
        delete from busi_mqtt_cluster where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>