<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiLiveMapper">
    
    <resultMap type="BusiLive" id="BusiLiveResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="ip"    column="ip"    />
        <result property="port"    column="port"    />
        <result property="status"    column="status"    />
        <result property="capacity"    column="capacity"    />
        <result property="uriPath"    column="uri_path"    />
        <result property="protocolType"    column="protocol_type"    />
        <result property="domainName"    column="domain_name"    />
    </resultMap>

    <sql id="selectBusiLiveVo">
        select id, create_time, update_time, name, ip, port, status, capacity, uri_path, protocol_type, domain_name from busi_live
    </sql>

    <select id="selectBusiLiveList" parameterType="BusiLive" resultMap="BusiLiveResult">
        <include refid="selectBusiLiveVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="port != null "> and port = #{port}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="capacity != null "> and capacity = #{capacity}</if>
            <if test="uriPath != null  and uriPath != ''"> and uri_path = #{uriPath}</if>
            <if test="protocolType != null  and protocolType != ''"> and protocol_type = #{protocolType}</if>
            <if test="domainName != null  and domainName != ''"> and domain_name like concat('%', #{domainName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBusiLiveById" parameterType="Long" resultMap="BusiLiveResult">
        <include refid="selectBusiLiveVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiLive" parameterType="BusiLive" useGeneratedKeys="true" keyProperty="id">
        insert into busi_live
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="ip != null and ip != ''">ip,</if>
            <if test="port != null">port,</if>
            <if test="status != null">status,</if>
            <if test="capacity != null">capacity,</if>
            <if test="uriPath != null">uri_path,</if>
            <if test="protocolType != null">protocol_type,</if>
            <if test="domainName != null">domain_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="ip != null and ip != ''">#{ip},</if>
            <if test="port != null">#{port},</if>
            <if test="status != null">#{status},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="uriPath != null">#{uriPath},</if>
            <if test="protocolType != null">#{protocolType},</if>
            <if test="domainName != null">#{domainName},</if>
         </trim>
    </insert>

    <update id="updateBusiLive" parameterType="BusiLive">
        update busi_live
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="ip != null and ip != ''">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="status != null">status = #{status},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="uriPath != null">uri_path = #{uriPath},</if>
            <if test="protocolType != null">protocol_type = #{protocolType},</if>
            <if test="domainName != null">domain_name = #{domainName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiLiveById" parameterType="Long">
        delete from busi_live where id = #{id}
    </delete>

    <delete id="deleteBusiLiveByIds" parameterType="String">
        delete from busi_live where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>