<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 2.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiMcuDingTemplateParticipantMapper">
    
    <resultMap type="BusiMcuDingTemplateParticipant" id="BusiMcuDingTemplateParticipantResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attendType"    column="attend_type"    />
        <result property="uuid"    column="uuid"    />
        <result property="templateConferenceId"    column="template_conference_id"    />
        <result property="terminalId"    column="terminal_id"    />
        <result property="weight"    column="weight"    />
        <result property="businessProperties"    column="business_properties"   typeHandler="com.paradisecloud.fcm.dao.typehandler.JSONTypeMapHandler" />
    </resultMap>

    <sql id="selectBusiMcuDingTemplateParticipantVo">
        select id, create_time, update_time, attend_type, uuid, template_conference_id, terminal_id, weight, business_properties from busi_mcu_ding_template_participant
    </sql>

    <select id="selectBusiMcuDingTemplateParticipantList" parameterType="BusiMcuDingTemplateParticipant" resultMap="BusiMcuDingTemplateParticipantResult">
        <include refid="selectBusiMcuDingTemplateParticipantVo"/>
        <where>  
            <if test="attendType != null "> and attend_type = #{attendType}</if>
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="templateConferenceId != null "> and template_conference_id = #{templateConferenceId}</if>
            <if test="terminalId != null "> and terminal_id = #{terminalId}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="businessProperties != null  and businessProperties != ''"> and business_properties = #{businessProperties,typeHandler=com.paradisecloud.fcm.dao.typehandler.JSONTypeMapHandler}</if>
        </where>
    </select>
    
    <select id="selectBusiMcuDingTemplateParticipantById" parameterType="Long" resultMap="BusiMcuDingTemplateParticipantResult">
        <include refid="selectBusiMcuDingTemplateParticipantVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiMcuDingTemplateParticipant" parameterType="BusiMcuDingTemplateParticipant" useGeneratedKeys="true" keyProperty="id">
        insert into busi_mcu_ding_template_participant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="attendType != null">attend_type,</if>
            <if test="uuid != null">uuid,</if>
            <if test="templateConferenceId != null">template_conference_id,</if>
            <if test="terminalId != null">terminal_id,</if>
            <if test="weight != null">weight,</if>
            <if test="businessProperties != null">business_properties,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attendType != null">#{attendType},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="templateConferenceId != null">#{templateConferenceId},</if>
            <if test="terminalId != null">#{terminalId},</if>
            <if test="weight != null">#{weight},</if>
            <if test="businessProperties != null">#{businessProperties},</if>
         </trim>
    </insert>

    <update id="updateBusiMcuDingTemplateParticipant" parameterType="BusiMcuDingTemplateParticipant">
        update busi_mcu_ding_template_participant
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="attendType != null">attend_type = #{attendType},</if>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="templateConferenceId != null">template_conference_id = #{templateConferenceId},</if>
            <if test="terminalId != null">terminal_id = #{terminalId},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="businessProperties != null">business_properties = #{businessProperties,typeHandler=com.paradisecloud.fcm.dao.typehandler.JSONTypeMapHandler},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiMcuDingTemplateParticipantById" parameterType="Long">
        delete from busi_mcu_ding_template_participant where id = #{id}
    </delete>

    <delete id="deleteBusiMcuDingTemplateParticipantByIds" parameterType="String">
        delete from busi_mcu_ding_template_participant where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>