<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiMcuZjClusterMapper">
    
    <resultMap type="BusiMcuZjCluster" id="BusiMcuZjClusterResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="spareMcuType"    column="spare_mcu_type"    />
        <result property="spareMcuId"    column="spare_mcu_id"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectBusiMcuZjClusterVo">
        select id, create_time, update_time, name, spare_mcu_type, spare_mcu_id, description from busi_mcu_zj_cluster
    </sql>

    <select id="selectBusiMcuZjClusterList" parameterType="BusiMcuZjCluster" resultMap="BusiMcuZjClusterResult">
        <include refid="selectBusiMcuZjClusterVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="spareMcuType != null "> and spare_mcu_type = #{spareMcuType}</if>
            <if test="spareMcuId != null "> and spare_mcu_id = #{spareMcuId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectBusiMcuZjClusterById" parameterType="Long" resultMap="BusiMcuZjClusterResult">
        <include refid="selectBusiMcuZjClusterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiMcuZjCluster" parameterType="BusiMcuZjCluster" useGeneratedKeys="true" keyProperty="id">
        insert into busi_mcu_zj_cluster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="spareMcuType != null">spare_mcu_type,</if>
            <if test="spareMcuId != null">spare_mcu_id,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="spareMcuType != null">#{spareMcuType},</if>
            <if test="spareMcuId != null">#{spareMcuId},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateBusiMcuZjCluster" parameterType="BusiMcuZjCluster">
        update busi_mcu_zj_cluster
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="spareMcuType != null">spare_mcu_type = #{spareMcuType},</if>
            <if test="spareMcuId != null">spare_mcu_id = #{spareMcuId},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiMcuZjClusterById" parameterType="Long">
        delete from busi_mcu_zj_cluster where id = #{id}
    </delete>

    <delete id="deleteBusiMcuZjClusterByIds" parameterType="String">
        delete from busi_mcu_zj_cluster where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>