<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 2.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiMcuSmc2TemplateDeptMapper">
    
    <resultMap type="BusiMcuSmc2TemplateDept" id="BusiMcuSmc2TemplateDeptResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="uuid"    column="uuid"    />
        <result property="templateConferenceId"    column="template_conference_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="weight"    column="weight"    />
    </resultMap>

    <sql id="selectBusiMcuSmc2TemplateDeptVo">
        select id, create_time, update_time, uuid, template_conference_id, dept_id, weight from busi_mcu_smc2_template_dept
    </sql>

    <select id="selectBusiMcuSmc2TemplateDeptList" parameterType="BusiMcuSmc2TemplateDept" resultMap="BusiMcuSmc2TemplateDeptResult">
        <include refid="selectBusiMcuSmc2TemplateDeptVo"/>
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="templateConferenceId != null "> and template_conference_id = #{templateConferenceId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="weight != null "> and weight = #{weight}</if>
        </where>
    </select>
    
    <select id="selectBusiMcuSmc2TemplateDeptById" parameterType="Long" resultMap="BusiMcuSmc2TemplateDeptResult">
        <include refid="selectBusiMcuSmc2TemplateDeptVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiMcuSmc2TemplateDept" parameterType="BusiMcuSmc2TemplateDept" useGeneratedKeys="true" keyProperty="id">
        insert into busi_mcu_smc2_template_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="uuid != null">uuid,</if>
            <if test="templateConferenceId != null">template_conference_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="weight != null">weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="templateConferenceId != null">#{templateConferenceId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="weight != null">#{weight},</if>
         </trim>
    </insert>

    <update id="updateBusiMcuSmc2TemplateDept" parameterType="BusiMcuSmc2TemplateDept">
        update busi_mcu_smc2_template_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="templateConferenceId != null">template_conference_id = #{templateConferenceId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="weight != null">weight = #{weight},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiMcuSmc2TemplateDeptById" parameterType="Long">
        delete from busi_mcu_smc2_template_dept where id = #{id}
    </delete>

    <delete id="deleteBusiMcuSmc2TemplateDeptByIds" parameterType="String">
        delete from busi_mcu_smc2_template_dept where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>