<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiEduLearningStageMapper">
    
    <resultMap type="BusiEduLearningStage" id="BusiEduLearningStageResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="name"    column="name"    />
        <result property="length"    column="length"    />
    </resultMap>

    <sql id="selectBusiEduLearningStageVo">
        select id, create_time, update_time, dept_id, name, length from busi_edu_learning_stage
    </sql>
    
    <resultMap type="DeptRecordCount" id="DeptRecordCountMap">
        <result property="deptId"    column="dept_id"    />
        <result property="count"    column="ct"    />
    </resultMap>
    
    <select id="getDeptRecordCounts" resultMap="DeptRecordCountMap">
        SELECT
        	a.dept_id,
        	count(*) ct 
        FROM
        	busi_edu_learning_stage a
        GROUP BY
        	a.dept_id 
        ORDER BY
        	a.dept_id ASC
    </select>

    <select id="selectBusiEduLearningStageList" parameterType="BusiEduLearningStage" resultMap="BusiEduLearningStageResult">
        <include refid="selectBusiEduLearningStageVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="length != null "> and length = #{length}</if>
        </where>
    </select>
    
    <select id="selectBusiEduLearningStageById" parameterType="Long" resultMap="BusiEduLearningStageResult">
        <include refid="selectBusiEduLearningStageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiEduLearningStage" parameterType="BusiEduLearningStage" useGeneratedKeys="true" keyProperty="id">
        insert into busi_edu_learning_stage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="name != null">name,</if>
            <if test="length != null">length,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="name != null">#{name},</if>
            <if test="length != null">#{length},</if>
         </trim>
    </insert>

    <update id="updateBusiEduLearningStage" parameterType="BusiEduLearningStage">
        update busi_edu_learning_stage
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="length != null">length = #{length},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiEduLearningStageById" parameterType="Long">
        delete from busi_edu_learning_stage where id = #{id}
    </delete>

    <delete id="deleteBusiEduLearningStageByIds" parameterType="String">
        delete from busi_edu_learning_stage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>