<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiFmeClusterMapMapper">
    
    <resultMap type="BusiFmeClusterMap" id="BusiFmeClusterMapResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="clusterId"    column="cluster_id"    />
        <result property="fmeId"    column="fme_id"    />
        <result property="weight"    column="weight"    />
    </resultMap>

    <sql id="selectBusiFmeClusterMapVo">
        select id, create_time, update_time, cluster_id, fme_id, weight from busi_fme_cluster_map
    </sql>

    <select id="selectBusiFmeClusterMapList" parameterType="BusiFmeClusterMap" resultMap="BusiFmeClusterMapResult">
        <include refid="selectBusiFmeClusterMapVo"/>
        <where>  
            <if test="clusterId != null "> and cluster_id = #{clusterId}</if>
            <if test="fmeId != null "> and fme_id = #{fmeId}</if>
            <if test="weight != null "> and weight = #{weight}</if>
        </where>
    </select>
    
    <select id="selectBusiFmeClusterMapById" parameterType="Long" resultMap="BusiFmeClusterMapResult">
        <include refid="selectBusiFmeClusterMapVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiFmeClusterMap" parameterType="BusiFmeClusterMap" useGeneratedKeys="true" keyProperty="id">
        insert into busi_fme_cluster_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="clusterId != null">cluster_id,</if>
            <if test="fmeId != null">fme_id,</if>
            <if test="weight != null">weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="clusterId != null">#{clusterId},</if>
            <if test="fmeId != null">#{fmeId},</if>
            <if test="weight != null">#{weight},</if>
         </trim>
    </insert>

    <update id="updateBusiFmeClusterMap" parameterType="BusiFmeClusterMap">
        update busi_fme_cluster_map
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="clusterId != null">cluster_id = #{clusterId},</if>
            <if test="fmeId != null">fme_id = #{fmeId},</if>
            <if test="weight != null">weight = #{weight},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiFmeClusterMapById" parameterType="Long">
        delete from busi_fme_cluster_map where id = #{id}
    </delete>

    <delete id="deleteBusiFmeClusterMapByIds" parameterType="String">
        delete from busi_fme_cluster_map where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>