<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.BusiLiveClusterMapper">
    
    <resultMap type="BusiLiveCluster" id="BusiLiveClusterResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectBusiLiveClusterVo">
        select id, create_time, update_time, name, description from busi_live_cluster
    </sql>

    <select id="selectBusiLiveClusterList" parameterType="BusiLiveCluster" resultMap="BusiLiveClusterResult">
        <include refid="selectBusiLiveClusterVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectBusiLiveClusterById" parameterType="Long" resultMap="BusiLiveClusterResult">
        <include refid="selectBusiLiveClusterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiLiveCluster" parameterType="BusiLiveCluster" useGeneratedKeys="true" keyProperty="id">
        insert into busi_live_cluster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateBusiLiveCluster" parameterType="BusiLiveCluster">
        update busi_live_cluster
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiLiveClusterById" parameterType="Long">
        delete from busi_live_cluster where id = #{id}
    </delete>

    <delete id="deleteBusiLiveClusterByIds" parameterType="String">
        delete from busi_live_cluster where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>