<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradisecloud.fcm.dao.mapper.CdrCallLegUpdateMapper">
    
    <resultMap type="CdrCallLegUpdate" id="CdrCallLegUpdateResult">
        <result property="cdrId"    column="cdr_id"    />
        <result property="id"    column="id"    />
        <result property="session"    column="session"    />
        <result property="callBridge"    column="call_bridge"    />
        <result property="recordIndex"    column="record_index"    />
        <result property="correlatorIndex"    column="correlator_index"    />
        <result property="cdrTag"    column="cdr_tag"    />
        <result property="state"    column="state"    />
        <result property="deactivated"    column="deactivated"    />
        <result property="remoteAddress"    column="remote_address"    />
        <result property="call"    column="call_id"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="sipCallId"    column="sip_call_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="displayName"    column="display_name"    />
        <result property="canMove"    column="can_move"    />
        <result property="time"    column="time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
    </resultMap>

    <sql id="selectCdrCallLegUpdateVo">
        select cdr_id, id, session, call_bridge, record_index, correlator_index, cdr_tag, state, deactivated, remote_address, call_id, owner_id, sip_call_id, group_id, display_name, can_move, time from cdr_call_leg_update
    </sql>

    <select id="selectCdrCallLegUpdateList" parameterType="CdrCallLegUpdate" resultMap="CdrCallLegUpdateResult">
        <include refid="selectCdrCallLegUpdateVo"/>
        <where>
            <if test="cdrId != null  and cdrId != ''"> and cdr_id = #{cdrId}</if>
            <if test="session != null  and session != ''"> and session = #{session}</if>
            <if test="callBridge != null  and callBridge != ''"> and call_bridge = #{callBridge}</if>
            <if test="recordIndex != null "> and record_index = #{recordIndex}</if>
            <if test="correlatorIndex != null "> and correlator_index = #{correlatorIndex}</if>
            <if test="cdrTag != null  and cdrTag != ''"> and cdr_tag = #{cdrTag}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="deactivated != null "> and deactivated = #{deactivated}</if>
            <if test="remoteAddress != null  and remoteAddress != ''"> and remote_address = #{remoteAddress}</if>
            <if test="call != null  and call != ''"> and call_id = #{call}</if>
            <if test="ownerId != null  and ownerId != ''"> and owner_id = #{ownerId}</if>
            <if test="sipCallId != null  and sipCallId != ''"> and sip_call_id = #{sipCallId}</if>
            <if test="groupId != null  and groupId != ''"> and group_id = #{groupId}</if>
            <if test="displayName != null  and displayName != ''"> and display_name like concat('%', #{displayName}, '%')</if>
            <if test="canMove != null "> and can_move = #{canMove}</if>
            <if test="time != null "> and time = #{time}</if>
        </where>
    </select>
    
    <select id="selectCdrCallLegUpdateById" parameterType="Integer" resultMap="CdrCallLegUpdateResult">
        <include refid="selectCdrCallLegUpdateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCdrCallLegUpdate" parameterType="CdrCallLegUpdate">
        insert into cdr_call_leg_update
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cdrId != null">cdr_id,</if>
            <if test="id != null">id,</if>
            <if test="session != null">session,</if>
            <if test="callBridge != null">call_bridge,</if>
            <if test="recordIndex != null">record_index,</if>
            <if test="correlatorIndex != null">correlator_index,</if>
            <if test="cdrTag != null">cdr_tag,</if>
            <if test="state != null">state,</if>
            <if test="deactivated != null">deactivated,</if>
            <if test="remoteAddress != null">remote_address,</if>
            <if test="call != null">call_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="sipCallId != null">sip_call_id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="displayName != null">display_name,</if>
            <if test="canMove != null">can_move,</if>
            <if test="time != null">time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cdrId != null">#{cdrId},</if>
            <if test="id != null">#{id},</if>
            <if test="session != null">#{session},</if>
            <if test="callBridge != null">#{callBridge},</if>
            <if test="recordIndex != null">#{recordIndex},</if>
            <if test="correlatorIndex != null">#{correlatorIndex},</if>
            <if test="cdrTag != null">#{cdrTag},</if>
            <if test="state != null">#{state},</if>
            <if test="deactivated != null">#{deactivated},</if>
            <if test="remoteAddress != null">#{remoteAddress},</if>
            <if test="call != null">#{call},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="sipCallId != null">#{sipCallId},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="displayName != null">#{displayName},</if>
            <if test="canMove != null">#{canMove},</if>
            <if test="time != null">#{time},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
         </trim>
    </insert>

    <update id="updateCdrCallLegUpdate" parameterType="CdrCallLegUpdate">
        update cdr_call_leg_update
        <trim prefix="SET" suffixOverrides=",">
            <if test="cdrId != null">cdr_id = #{cdrId},</if>
            <if test="session != null">session = #{session},</if>
            <if test="callBridge != null">call_bridge = #{callBridge},</if>
            <if test="recordIndex != null">record_index = #{recordIndex},</if>
            <if test="correlatorIndex != null">correlator_index = #{correlatorIndex},</if>
            <if test="cdrTag != null">cdr_tag = #{cdrTag},</if>
            <if test="state != null">state = #{state},</if>
            <if test="deactivated != null">deactivated = #{deactivated},</if>
            <if test="remoteAddress != null">remote_address = #{remoteAddress},</if>
            <if test="call != null">call_id = #{call},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="sipCallId != null">sip_call_id = #{sipCallId},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="displayName != null">display_name = #{displayName},</if>
            <if test="canMove != null">can_move = #{canMove},</if>
            <if test="time != null">time = #{time},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCdrCallLegUpdateById" parameterType="Integer">
        delete from cdr_call_leg_update where id = #{id}
    </delete>

    <delete id="deleteCdrCallLegUpdateByIds" parameterType="String">
        delete from cdr_call_leg_update where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteHistory">
        delete from cdr_call_leg_update where create_time &lt; #{beforeDate}
    </delete>
</mapper>